force-app/main/default/flows/Bank_Account_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Bank_Account</name>
        <label>Add Bank Account</label>
        <locationX>534</locationX>
        <locationY>321</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Bank_Account_Updated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Last_Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Bank_Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>account</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>existingAccount</assignToReference>
            <name>409Exc</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Verify_Bank_Account</name>
        <label>Verify Bank Account</label>
        <locationX>214</locationX>
        <locationY>479</locationY>
        <actionName>BankService.getAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Does_Bank_Account_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Last_Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkedAccount</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>notFoundAccount</assignToReference>
            <name>404Exc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Bank_Account_ID</name>
        <label>Assign Existing Bank Account ID</label>
        <locationX>774</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>account.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingAccount.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Salesforce_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bank_Account_Updated</name>
        <label>Bank Account Updated?</label>
        <locationX>525</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Update_Salesforce_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bank Account Found</defaultConnectorLabel>
        <rules>
            <name>Bank_Account_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Bank_Account_ID</targetReference>
            </connector>
            <label>Bank Account Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Bank_Account_Exist</name>
        <label>Does Bank Account Exist?</label>
        <locationX>127</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Account_Not_Added_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Bank_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Bank_Account</targetReference>
            </connector>
            <label>Bank Account Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bank Account Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Account Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Salesforce_User_Record</name>
        <label>Update Salesforce User Record</label>
        <locationX>392</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Verify_Bank_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>account.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>Bank_Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <description>Account Not Added</description>
        <name>Account_Not_Added_Msg</name>
        <label>Account Not Added Msg</label>
        <locationX>389</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>accountNotAdde</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif; color: rgb(30, 30, 30);&quot;&gt;Account was not added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bank_Account_Record</name>
        <label>Bank Account Record</label>
        <locationX>601</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Bank_Account</targetReference>
        </connector>
        <fields>
            <name>Last_Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Last Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Found Bank Account</description>
        <name>Found_Bank_Account</name>
        <label>Found Bank Account</label>
        <locationX>229</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountFoundMsg</name>
            <fieldText>&lt;p&gt;&lt;code&gt;Found Bank Account!&lt;/code&gt;&lt;/p&gt;&lt;p&gt;Name:&amp;nbsp;&lt;code&gt;{!checkedAccount.name}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;Bank Account Id:&amp;nbsp;&lt;code&gt;{!checkedAccount.Id}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;Bank Account Type:&amp;nbsp;&lt;code&gt;{!checkedAccount.z0type}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;Available Bal:&amp;nbsp;&lt;code&gt;{!checkedAccount.availableBal}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bank_Account_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>checkedAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notFoundAccount</name>
        <apexClass>ExternalService__BankService_errorModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
